<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <a href="../index.php?url=buscar" >Buscar usuario</a>
        <br/>
        <a href="buscar.php?url=eliminar" >Eliminar usuario</a>
        <br/>
        <a href="reservacion.php?url" >Agregar Reservacion</a>
        <br/>
        <a href="VerUsuario.php" >Ver Lista usuarios </a>
        
    </body>
</html>
